.VITALITY .events_title {
  color: #fae100;
  }

  .VITALITY .events_content {
    background-color: #fae100a3;
    color: #221C35;
    }

        .VITALITY .events_content_score_win {
            color: #00ff00;
            }
          
        .VITALITY .events_content_score_lose {
            color: #ff0000;
            }