.VITALITY {
    height: 92.6%;
    width: 100%;
    left : 0;
    position: fixed;
    background-image: url("../../img/teams_bg/bg-vitality2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}