.footer {
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}

.footer_left {
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
    gap: 1.5rem;
}

.footer_right {
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    font-size: 1.25rem;
    font-weight: bold;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer img {
    width: 30px;
}