

  

        .my-tournament {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            
            }

            .error {
                color: white;
                font-weight: bold;
                background-color: gray;
              }


            .tournament-standings-team{
                background-color: #ffffffc7;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 1rem;
                height: 30px;
                border-radius: 5px;
                margin-bottom: 0.25rem;
                width: 300px;
            }
            .tournament-standings-current-team{
                background-color: #004cff98;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                font-size: 1rem;
                height: 30px;
                border-radius: 5px;
                margin-bottom: 0.25rem;
                width: 300px;
                color: #ffffff;
                border: 1px solid #ffffff;
            }

                .team-logo {
                    margin-bottom: 1rem;
                    }

                .team-rank {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                cursor:default;
                width: 20%;
                }

                .team-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 60%;
                    }

                    .team-wins-losses {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 33%;
                        height: 100%;
                        font-size: 1.25rem;
                        font-weight: bold;
                        width: 20%;
                        }

            .team-rank {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                cursor:default;
                width: 20%;
                }

                .team-name {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 60%;
                    }
                .team-name-current {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    color: #4000ff;
                    width: 60%;
                    }

                    .team-wins-losses {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 33%;
                        height: 100%;
                        font-size: 1.25rem;
                        font-weight: bold;
                        width: 20%;
                        }