
.switch {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 20px;
    cursor: pointer;
    overflow: hidden;
  }
  .switch input {
    position: absolute;
    top: -15x;
    top: -15px;
    width: 0;
    height: 0;
  }
  .switch input + span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #99b4df;
    border-radius: 20px;
  }
  .switch input + span:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 16px;
    height: 16px;
    background: white;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: all .5s;
  }
  .switch input:checked + span {
    background: #346abf;
  }
  .switch input:checked + span:before {
    left: 17px;
  }

  .SETTINGS {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    overflow-y: scroll;
    max-height: 600px;
  }
  .SETTINGS::-webkit-scrollbar {
    width: 0px;
  }

  .all-switch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: 300px;
    overflow-y: scroll;
  }
 /* width */
.all-switch::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Track */
  .all-switch::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #1c243c; 
    border-radius: 10px;
  }
   
  /* Handle */
  .all-switch::-webkit-scrollbar-thumb {
    background: #131a2c; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .all-switch::-webkit-scrollbar-thumb:hover {
    background: #0c111b; 
  }
  .switch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }